{{HEADER}}
<div class="header">
    <h2 class="page-name">{{PAGE_NAME}}</h2>
    <h1 class="surah-name">Tentang {{APP_NAME}}</h1>
</div>

{{MENU}}

<div class="ayah-wrapper page-wrapper">
    <h2 class="page-heading">Tentang</h2>
    <p>Alhamdulillah, thanks be to the presence of Allah SWT. Sholawat and greetings may always be given to the Prophet Muhammad SAW.</p>
    <p>{{APP_NAME}} is a project to present the holy book of the Quran in a lightweight and fast mobile web format, allowing even low-spec devices to access it without difficulty. The main features of {{APP_NAME}} adalah:</p>

    <ul class="margin-bottom-half">
        <li>Fast and lightweight</li>
        <li>Mobile web friendly</li>
        <li>Last read marker</li>
        <li>AI-based memorization tool</li>
        <li>Dozens of language translation</li>
        <li>Night and sepia mode for comfortable reading</li>
        <li>Go to a specific verse within a surah</li>
        <li>Each verse has its own URL and can be shared</li>
        <li>Murottal audio for each verse (source: everyayah.com)</li>
    </ul>

    <p>Beberapa fitur yang akan ditambahkan pada versi yang akan datang adalah:</p>

    <h2 class="page-heading">Sumber</h2>
    <p class="margin-bottom-2">Sumber utama ayat-ayat Al-Quran dan terjemahannya dalam project ini didapat dari situs dan aplikasi resmi dari Kementrian Agama Republik Indonesia yang dapat diakses di <a href="https://quran.kemenag.go.id">quran.kemenag.go.id</a>.</p>

    <h2 class="page-heading">Laporkan Kesalahan</h2>
    <p class="margin-bottom-2">Al-Quran adalah kitab suci sempurna yang diturunkan Allah SWT. segala bentuk kesalahan yang ada pada project ini adalah pasti karena kebodohan dan kekhilafan saya sendiri. Untuk itu mohon dengan hormat jika anda menemukan kesalahan, baik itu kesalahan penulisan, kesalahan terjemahan, atau kesalahan teknis lainnya, mohon untuk melaporkannya kepada saya agar dapat segera diperbaiki. Anda dapat menghubungi saya melalui chat di GitHub

    <h2 class="page-heading">Source Code</h2>
    <p class="margin-bottom-2">Source code (kode sumber) untuk membuat website ini tersedia secara bebas dan terbuka (Open Source). Anda dapat melihatnya di <a href="https://
    <h2 class="page-heading">Changelog</h2>

    <p>Perubahan utama yang dilakukan pada QuranWeb diantaranya:</p>

    <p><strong>Attribution, Terima Kasih kepada:</strong></p>
    <ul class="margin-bottom-2">
      <li>Rio Astamal - Quran-Web: https://github.com/rioastamal/quran-web</li>
      <li>Altaf Creator - OpenQuran: https://github.com/altafcreator/openquran</li>
    </ul>

{{FOOTER}}
