<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/style.css">
    <link href="styles/css/fontawesome.css" rel="stylesheet">
    <link href="styles/css/brands.css" rel="stylesheet">
    <link href="styles/css/solid.css" rel="stylesheet">
    <link rel="icon" href="images/favicon.png">
    <link rel="manifest" href="manifest.json">
    <!-- ios support -->
    <link rel="apple-touch-icon" href="images/favicon.png">
    <meta name="apple-mobile-web-app-status-bar" content="#f3f3f3">
    <title>OpenQuran</title>
</head>

<body>
    <div class="navbar">
        <a href="./" style="text-decoration: none;" id="openquran-link">
            <div class="navbar-logo">
                <img src="images/favicon.png" alt="" class="navbar-logo-img">
                <p class="navbar-logo-txt"><b>OpenQuran</b></p>
            </div>
        </a>
        <div class="navbar-middle"></div>
        <p style="text-align: right; color: rgba(0, 0, 0, 0.5); margin-right: 20px;" id="navbar-text">السَّلاَمُ
            عَلَيْكُمْ وَرَحْمَةُ اللهِ وَبَرَكَاتُهُ</p>
        <div class="window-button-container">
            <button class="window-button" id="minimize">
                <i class="fa-solid fa-minus"></i>
            </button>
        </div>
        <div class="window-button-container" id="maximize">
            <button class="window-button" style="display: grid; place-items: center;">
                <img src="images/maximize.png" alt="" style="width: 12px;">
            </button>
        </div>
        <div class="window-button-container" style="margin-right: 15px">
            <button onclick="window.top.close()" class="window-button">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </div>
    </div>
    <div id="main-container">
        <div class="main-sidebar" style="border-right: solid 1.5px rgba(0, 0, 0, 0.1); ">
            <a href="./" class="sidebar-buttons" id="openquran-home"><i class="fa-solid fa-house"></i></a>
            <a href="SurahGenerator.php" class="sidebar-buttons"><i class="fa-solid fa-quran"></i></a>
            <a href="attribution.php" class="sidebar-buttons"><i class="fa-solid fa-scroll"></i></a>
        </div>
        <div class="sidebar">
            <div class="scroll scroll-auto" id="scroll-sura">
                <div class="dropdown" tabindex="0" id="dropdown">
                    <div class="dropdown-button">
                        <span id="dropdown-content">English</span>
                        <span style="float: right; font-size: 16px; line-height: 24px;"><i
                                class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div class="dropdown-content">
                        <a href="?lang=en" class="dropdown-item">English</a>
                        <a href="?lang=id" class="dropdown-item">Indonesia</a>
                        <a href="?lang=bn" class="dropdown-item">Bengali</a>
                    </div>
                </div>
                <div class="zoom">
                    <a href="?zoom=out" class="zoom-btn"><i class="fa-solid fa-minus"></i></a>
                    <span id="zoomText">100%</span>
                    <a href="?zoom=in" class="zoom-btn"><i class="fa-solid fa-plus"></i></a>
                </div>
                <hr style="margin: 10px">
                <div id="sidebar-sura">
                    <?php include 'sidebar_sura.php'; ?>
                </div>
            </div>
        </div>
        <div class="sidebar-links">
            <a href="attribution.php" class="link">Attribution</a>
        </div>
        <div class="main height-no-scroll">
            <div class="scroll main-content-padding">
                <div class="dropdown" tabindex="0" id="dropdown-alternate">
                    <div class="dropdown-button">
                        <span id="dropdown-content-alternate">English</span>
                        <span style="float: right; font-size: 16px; line-height: 24px;"><i
                                class="fa-solid fa-angle-down"></i></span>
                    </div>
                    <div class="dropdown-content" style="width: calc(100% - 85px);">
                        <a href="?lang=en" class="dropdown-item">English</a>
                        <a href="?lang=id" class="dropdown-item">Indonesia</a>
                        <a href="?lang=bn" class="dropdown-item">Bengali</a>
                        <a href="?lang=de" class="dropdown-item">Deutsch</a>
                        <a href="?lang=fr" class="dropdown-item">Français</a>
                        <a href="?lang=es" class="dropdown-item">Español</a>
                        <a href="?lang=hi" class="dropdown-item">Hindi</a>
                        <a href="?lang=it" class="dropdown-item">Italiano</a>
                        <a href="?lang=ja" class="dropdown-item">日本語</a>
                        <a href="?lang=ko" class="dropdown-item">한국어</a>
                        <a href="?lang=ku" class="dropdown-item">Kurdish</a>
                        <a href="?lang=ms" class="dropdown-item">Malay</a>
                        <a href="?lang=nl" class="dropdown-item">Nederlands</a>
                        <a href="?lang=ru" class="dropdown-item">Russian</a>
                        <a href="?lang=tr" class="dropdown-item">Türkçe</a>
                        <a href="?lang=zhj" class="dropdown-item">Chinese (Simplified)</a>
                        <a href="?lang=zhf" class="dropdown-item">Chinese (Traditional)</a>
                    </div>
                </div>
                <div class="zoom" id="zoom-alternate">
                    <a href="?zoom=out" class="zoom-btn"><i class="fa-solid fa-minus"></i></a>
                    <span id="zoomTextAlt">100%</span>
                    <a href="?zoom=in" class="zoom-btn"><i class="fa-solid fa-plus"></i></a>
                </div>
                <hr id="mobile-hr">
                <h1 id="header" class="title">
                    <?php echo htmlspecialchars($page_name ?? 'Loading...'); ?>
                </h1>
                <h3 id="subheader" class="subtitle">
                    <?php echo htmlspecialchars($subheader ?? ''); ?>
                </h3>
                <div id="main">
                    <?php include 'main_content.php'; ?>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
